/* Styles for the third page */

/* First text of the third page which will appear in green color */
#green {
    color: rgb(14, 196, 14);
    font-size: 1.4vw;
    text-align: center;
    font-family: emoji;
    margin-bottom: 0vw;
}

#third {
    padding: 5vw 0vw;
}

/* Container for the content, using flex to allow wrapping */
#content {
    display: flex;
    flex-wrap: wrap;
    padding: 4vw;
}

/* Styling for text content of the project */
.text {
    width: 26vw;
    font-family: math;
    font-size: 1.4vw;
    margin: 1.5vw;
    color: rgb(114, 110, 110);
}

/* Styles for aligning logo and the name of the field */
.logo {
    display: flex;
    place-items: center;
}

/* Secondary green text with a border at the bottom */
#green2 {
    width: 60vw;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    font-family: fangsong;
    border-bottom: 0.1vw solid black;
    font-size: 3vw;
    padding-bottom: 2vw;
}

/* Styling for the text of the field name within the logo */
.logo span {
    font-size: 2.4vw;
    font-family: ui-monospace;
    font-weight: bolder;
}