#green {
    color: rgb(14, 196, 14);
    font-size: 1.4vw;
    text-align: center;
    font-family: emoji;
    margin-bottom: 0vw;
}

#content {
    display: flex;
    flex-wrap: wrap;
    padding: 4vw;
}

.text {
    width: 26vw;
    font-family: math;
    font-size: 1.4vw;
    margin: 1.5vw;
    color: rgb(114, 110, 110);
}

.logo {
    display: flex;
    place-items: center;
}

#green2 {
    width: 60vw;
    font-size: 3vw;
    margin: auto;
    text-align: center;
    font-family: fangsong;
    border-bottom: 0.1vw solid black;
    font-size: 3vw;
    padding-bottom: 2vw;
}

.logo span {
    font-size: 2.4vw;
    font-family: ui-monospace;
    font-weight: bolder;
}