#seventh {
    display: flex;
    padding: 10vw 4vw;
    background-color: rgb(31, 30, 30);
    color: grey;
    
}

#seventhfirst {
    width: 60%;
    padding: 0vw 4vw;
}

#seventhsecond {
    width: 60%;
    padding: 1vw 4vw;
}

#seventhfirst h2 {
    color: rgb(47, 192, 47);
    font-size: 4vw;
}

#seventhsecond h3 {
    color: rgb(219, 227, 233);
    font-size: 3vw;
}

#seventhsecond p {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: lighter;
}

#seventhfirst p {
    font-size: 2vw;
    font-family: sans-serif;
    font-weight: lighter;
}

.input input {
    background: transparent;
    border: none;
    width: 60%;
    background-color: black;
    height: 3vw;
}

.input button {
    width: 30%;
    height: 3vw;
    background-color: green;
    font-size: 1.3vw;
    font-family: auto;
    color: aliceblue;
}