/* Styles for the form container */
.form {
    display: flex;
}

/* Styles for the message section within the form */
.message {
    width: 60%;
    padding-left: 5vw;
}

/* Styles for input and textarea within the message section */
.message input,
.message textarea {
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 2vw;
    background: transparent;
}

/* Styles for the sixth section, including background image, text color, and padding */
#sixth {
    background-image: url('https://wallpapers.com/images/high/black-color-background-kvv6asd39zluqt0o.webp');
    background-repeat: no-repeat;
    color: white;
    padding: 2vw;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Styles for the submit button */
#button {
    width: 60%;
    border: none;
    border-bottom: 1px solid grey;
    margin-bottom: 2vw;
    background: transparent;
    color: white;
    background-color: rgb(35, 185, 35);
    font-size: 2vw;
    font-family: emoji;
    height: 3vw;
}

/* Styles for center-aligned text */
#center {
    text-align: center;
}

/* Styles for text with green color */
.green {
    color: rgb(19, 165, 19);
    font-size: 1.3vw;
    font-weight: bolder;
    font-family: fangsong;
}