/* Styles for the fourth section */
#fourth {
    text-align: center;
    background: rgba(0, 0, 0, 0.137);
    padding: 5vw 0vw;
}

/* Flex container for the fourth section */
.fourthflex {
    display: flex;
}

/* Styling for images in the fourth section */
img {
    width: 48vw;
    height: 48vw;
    margin: 0px;
}

/* Hover effect for images in the fourth section */
img:hover {
    animation: Hover 2s ease-in-out;
    width: 50vw;
    height: 50vw;
}

/* Styling for div elements */
div {
    margin: 0px;
}

/* Keyframes for the hover effect */
@keyframes Hover {
    0% {
        width: 47vw;
        height: 47vw;
    }

    100% {
        width: 50vw;
        height: 50vw;
    }
}

/* Styling for the green text */
#green {
    color: rgb(48, 216, 48);
    color: rgb(14, 196, 14);
    font-size: 1.4vw;
    text-align: center;
    font-family: emoji;
    margin-bottom: 0vw;
}