
#fourth{
    text-align: center;
    background: rgba(0, 0, 0, 0.137);
    padding: 2vw 0vw;
}
.fourthflex{
    display: flex;
}
img{
    width: 48vw;
    height: 48vw;
    margin: 0px;
}
img:hover{
   animation: Hover 2s ease-in-out ;
   width: 50vw;
   height: 50vw;
}
div{
    margin: 0px;
}

@keyframes Hover{
    0%{
        width: 47vw;
        height: 47vw;
    }
    100%{
        width: 50vw;
        height: 50vw;
    }
}
#green{
    color: rgb(48, 216, 48);
    color: rgb(14, 196, 14);
    font-size: 1.4vw;
    text-align: center;
    font-family: emoji;
    margin-bottom: 0vw;
}