/* Styling for links in the app */
.App-link {
  color: #61dafb;
}

/* Keyframes for spinning the app logo */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.App {
  height: 510vw;
}

/* Styling for the outer navigation bar */
#outerNav {
  display: flex;
  justify-content: space-between;
  font-size: 3vw;
  color: rgb(231, 231, 233);
  position: sticky;
  z-index: 1000;
  font-family: fantasy;
  padding: 1vw;
  top: 0;
  background-color: rgba(10, 10, 10, 0.973);
}

/* Styling for spans within the outer navigation bar */
span {
  margin: 0vw 1.5vw;
}

/* Styling for the menu */
#menu {
  justify-content: space-between;
  display: flex;
  width: 98%;
}

/* Styling for the Glint logo */
#glint {
  margin: 0vw 0vw 0vw 2vw;
}

/* Styling for the first section */
#first {
  background-image: url('https://rukminim2.flixcart.com/image/850/1000/kvsfhjk0/canvas/c/r/a/bail-gaadi-printed-canvas-roll-arndecor-original-imag8myqzwf5sez8.jpeg?q=90');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 50vw;
  color: aliceblue;
  position: relative;
  padding: 5vw 0vw;

}

.show {
  position: relative;
  top: -28.8vw;
  height: max-content;
}

.noshow {
  position: relative;

}

/* Styling for the Glint logo within the first section */
#glint {
  font-size: 3vw;
  position: relative;
  left: 0.4vw;
  font-weight: bolder;
}

/* Styling for paragraphs within the first section */
#first p {
  font-size: 1.8vw;
}

/* Styling for h4 within the first section */
#first h4 {
  width: 35vw;
  font-size: 2.3vw;
  font-family: fangsong;
  left: 8vw;
  position: relative;
}

/* Keyframes for color change */
@keyframes Color {
  0% {
    background-color: transparent;
    color: white;
  }

  100% {
    background-color: white;
    color: black;
  }
}

/* Styling for buttons within the first section */
#first button {
  position: relative;
  width: 25vw;
  margin: 0vw 3vw;
  height: 6vw;
  font-size: 2vw;
  background-color: transparent;
  color: white;
  border: 0.2vw solid white;
  padding: 1vw;
  top: 8vw;
  font-family: fangsong;
}

/* Hover effect for buttons within the first section */
#first button:hover {
  animation: Color 2s ease-in-out;
  background-color: white;
  color: black;
}

/* Styling for the second section */
#second {
  background-color: rgb(75, 219, 75);
  position: relative;
  top: -1.1vw;
  text-align: -webkit-center;
  font-family: fangsong;
  padding: 5vw 0vw;
  font-size: 2vw;
}

/* Styling for the first collapse element */
.collapse1 {
  padding: 1vw 0vw 0vw 0vw;
  margin: 0vw;
  font-family: fangsong;
  font-size: 2vw;
}

/* Styling for the general collapse elements */
.collapse {
  width: 30%;
  margin: 0vw;
  color: rgb(248, 250, 246);
  font-size: 5vw;
  border-bottom: 0.2vw solid white;
}

/* Styling for the third paragraph in the second section */
#second p:nth-child(3) {
  width: 70%;
  text-align: left;
  font-size: 2vw;
}

/* Styling for inline-flex container in the second section */
#secondalign {
  display: inline-flex;
}

/* Styling for div elements within the inline-flex container */
#secondalign div {
  margin: 0vw 2vw;
}

/* Styling for the number element */
.number {
  color: white;
  font-size: 4vw;
  font-weight: bolder;
  font-family: fangsong;
}

/* Styling for the expand element */
#expand {
  font-family: emoji;
}


/* Styling for the sticky menu */
#menusticky {
  position: fixed;
  z-index: 1000;
  top: 7vw;
  background-color: black;
  color: rgb(50, 231, 50);
  text-align: -webkit-right;
  align-content: center;
  width: max-content;
  padding: 4px;
  left: 89vw;
  text-align: justify;
  border: none;

}

/* Styling for spans within the sticky menu */
#menusticky span {
  color: white;
}

/* Styling for list items */
li {
  display: block;
  text-align: justify;
  list-style: none;
  padding: 1vw;
}

li:hover {
  border-bottom: 1px solid white;
  font-style: italic;
}

#menusticky.absolute {
  position: sticky;
  top: 7vw;
  left: 89vw;
}