#fifth{
    text-align: center;
}
#client{ 
    font-family: emoji;
    font-size: 1.8vw;
    color: rgb(26, 223, 26);
}
#client+h2{
    font-size: 3vw;
    width: 60%;
    margin: auto;
    font-family: emoji;
}
.textfifth{
    font-size: 2vw;
    font-family: fangsong;
    color: grey;
    padding: 4vw;
    text-align: justify;
}

.btn{
    font-size: 8vw;
    margin: 1vw;
    border: none;
    color: grey;
    background-color: inherit;
    border-radius: 50%;
    font-family: emoji;
    height: auto;

}
.btn:hover{
    color: black;
}

span:hover{
    color: black;
}
.images{
    padding: 2vw 0vw;
}
.icon{
    color: grey;
}
.icon:hover{
    animation: Blac  2s ease-in-out ;
}

@keyframes Blac{
    0%{
        color: grey;
    }
    100%{
        color: black;
    }
}
