/* Styles for the fifth section */
#fifth {
    text-align: center;
}

/* Styles for the 'OUR CLIENT' text */
#client {
    font-family: emoji;
    font-size: 1.8vw;
    color: rgb(26, 223, 26);
}

/* Styles for the heading immediately after 'OUR CLIENT' */
#client+h2 {
    font-size: 3vw;
    width: 60%;
    margin: auto;
    font-family: emoji;
}

/* Styles for the main text in the fifth section */
.textfifth {
    font-size: 2vw;
    font-family: fangsong;
    color: grey;
    padding: 4vw;
    text-align: justify;
}

/* Styles for the buttons in the fifth section */
.btn {
    font-size: 8vw;
    margin: 1vw;
    border: none;
    color: grey;
    background-color: inherit;
    border-radius: 50%;
    font-family: emoji;
    height: auto;
}

/* Hover styles for the buttons in the fifth section */
.btn:hover {
    color: black;
}

/* Hover styles for spans */
span:hover {
    color: black;
}

/* Styles for the images container in the fifth section */
.images {
    padding: 2vw 0vw;
}

/* Styles for the icons in the fifth section */
.icon {
    color: grey;
}

/* Hover animation for the icons */
.icon:hover {
    animation: Blac 1.2s ease-in-out;
    color: black;
}

/* Keyframe animation to change icon color from grey to black */
@keyframes Blac {
    0% {
        color: grey;
    }

    100% {
        color: black;
    }
}